{% load static %}
<title>JWT | New password</title>
{% include 'mysite/style.html' %}
{% include 'mysite/nav.html' %}

  <div class="container">
      <h1 class="mt-4 mb-3">Password reset done</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">password reset done</li>
      </ol>

        <div class="m-b-2">
            <p class="font-25 font-weight-500 m-t-20 m-b-2">Instructions for password reset sent</p>
            <hr>
            <p class="m-b-2"><i class="fa fa-angle-double-right" style="font-size:22px;color:#1976D2;"></i>
                We've emailed you instructions for setting your password, if an account exists with the email you
                entered.
                You should receive them shortly.
            </p>
            <p class="m-b-2"><i class="fa fa-angle-double-right" style="font-size:22px;color:#1976D2;"></i>
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
            </p>

            <p class="m-b-2"><i class="fa fa-angle-double-right" style="font-size:22px;color:#1976D2;"></i>
                We've emailed you instructions for setting your password, if an account exists with the email you
                entered.
                You should receive them shortly.
            </p>
            <p class="m-b-2"><i class="fa fa-angle-double-right" style="font-size:22px;color:#1976D2;"></i>
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
            </p>
            <p class="m-b-2"><i class="fa fa-angle-double-right" style="font-size:22px;color:#1976D2;"></i>
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
            </p>
        </div>

</div>


{% include 'mysite/footer.html' %}
{% include 'mysite/script.html' %}
