{% load static %}
<title>JWT | New password</title>
{% include 'mysite/style.html' %}
{% include 'mysite/nav.html' %}
  <div class="container">
      <h1 class="mt-4 mb-3">New Password</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">New password</li>
      </ol>

      <div class="row">
        <div class="col-lg-8 mb-4">
            <p>
                Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
            </p>
        </div>
    </div>
</div>
{% include 'mysite/footer.html' %}
{% include 'mysite/script.html' %}

