{% load static %}
<title>JWT | New password</title>
{% include 'mysite/style.html' %}
{% include 'mysite/nav.html' %}
  <div class="container">
      <h1 class="mt-4 mb-3">New Password</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">New password</li>
      </ol>

      <div class="row">
        <div class="col-lg-8 mb-4">
          {% if messages %}
            {% for message in messages %}
                  <div class="alert alert-success  alert-dismissible w-30 m-left-35 m-top-1">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success !</strong> {{ message }}
                  </div>
            {% endfor %}
          {% endif %}
          <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
          {% if validlink %}
          <form method="post">
            {% csrf_token %}
            <div class="control-group form-group">
                <div class="controls">
                    <label for="id_new_password1">New password:</label>
                    <input type="password" name="new_password1" class="form-control" id="id_new_password1">
                    {{ form.new_password1.errors }}
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label for="id_new_password2">Confirm password:</label>
                    <input type="password" name="new_password2" class="form-control" id="id_new_password2">
                    {{ form.new_password2.errors }}
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Change password">
          </form>
        {% else %}
          <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
          </p>
        {% endif %}
        </div>
    </div>
</div>
{% include 'mysite/footer.html' %}
{% include 'mysite/script.html' %}