{% load static %}
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JWT | Index</title>

    {% include 'mysite/style.html' %}

  </head>

  <body>


    {% include 'mysite/nav.html' %}
    {% include 'mysite/header.html' %}
    {% include 'mysite/content.html' %}
    {% include 'mysite/footer.html' %}
    {% include 'mysite/script.html' %}
  </body>
</html>
