{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">JWT Auth</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="">Welcome to {{user.first_name | title}} {{user.last_name | title}}.</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      My Profile
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                      <a class="dropdown-item" href="{% url 'edit_profile' %}">Profile</a>
                      <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>
                      <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>

                    </div>
                  </li>
            {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Registration</a>
                  </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>