{% load static %}
<title>JWT | Change password</title>
{% include 'mysite/style.html' %}
{% include 'mysite/nav.html' %}
  <div class="container">
      <h1 class="mt-4 mb-3">Change Password</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Change password</li>
      </ol>

      <div class="row">
        <div class="col-lg-8 mb-4">
          {% if messages %}
            {% for message in messages %}
                  <div class="alert alert-success  alert-dismissible w-30 m-left-35 m-top-1">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success !</strong> {{ message }}
                  </div>
            {% endfor %}
          {% endif %}
          <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
          <form method="POST" id="change-password" novalidate>
            {% csrf_token %}
            <div class="control-group form-group">
              <div class="controls">
                <label>Old password:</label>
                <input type="password" class="form-control" id="id_old_password" name="old_password" required data-validation-required-message="Please enter your password number.">
                {{ form.old_password.errors }}
              </div>
            </div>
              <div class="control-group form-group">
              <div   class="controls">
                <label>New password:</label>
                <input type="password" class="form-control" id="id_new_password1" name="new_password1" required data-validation-required-message="Please enter your password number.">
                {{ form.new_password1.errors }}
                  <ul class="help_text_password noselect">
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                  </ul>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Confirm password:</label>
                <input type="password" class="form-control" id="id_new_password2" name="new_password2" required data-validation-required-message="Please enter your password number.">
                {{ form.new_password2.errors }}
              </div>
            </div>
            <div id="success"></div>
            <button type="submit" class="btn btn-primary" id="change_password">Change password</button>
          </form>
        </div>
    </div>
</div>
{% include 'mysite/footer.html' %}
{% include 'mysite/script.html' %}